Dataset:
https://www.eia.gov/totalenergy/data/annual/index.php

https://www.eia.gov/energyexplained/units-and-calculators/energy-conversion-calculators.php

#### The first step is to load the excel files into dataframes, verify the values, clean them and load them into a database to be able to process them with SQL.

In [1]:
import pandas as pd
import sqlalchemy as sq

In [2]:
engine = sq.create_engine('mysql+mysqlconnector://berenice_moralessilva:8iomcimlHziYn@datasciencedb.ucalgary.ca/berenice_moralessilva')

In [3]:
df_renewable_in = pd.read_excel('Renewable_Energy_Industrial.xlsx', skiprows=10, sheet_name=0)
df_renewable_rc = pd.read_excel('Renewable_Energy_Residential_Commercial.xlsx', skiprows=10, sheet_name=0)
df_renewable_te = pd.read_excel('Renewable_Energy_Transportation_Electric_Power.xlsx', skiprows=10, sheet_name=0)
df_petroleum_in = pd.read_excel('Petroleum_Industrial.xlsx', skiprows=10, sheet_name=0)
df_petroleum_rc = pd.read_excel('Petroleum_Residential_Commercial.xlsx', skiprows=10, sheet_name=0)
df_petroleum_te = pd.read_excel('Petroleum_Transportation_Electric_Power.xlsx', skiprows=10, sheet_name=0)
df_coal = pd.read_excel('Coal_by_Sector.xlsx', skiprows=10, sheet_name=0)
df_natural_gas = pd.read_excel('Natural_Gas_by_Sector.xlsx', skiprows=10, sheet_name=0)
df_co2 = pd.read_excel('CO2_Emissions.xlsx', skiprows=10, sheet_name=0)

#### The next steps include verifying unique values, remove rows with null values, convert the numeric quantities to float, rename columns, create a new column for year and month to have a key for year-month

In [4]:
df_renewable_in.head(2)

,Month,Hydroelectric Power Consumed by the Industrial Sector,Geothermal Energy Consumed by the Industrial Sector,Solar Energy Consumed by the Industrial Sector,Wind Energy Consumed by the Industrial Sector,Wood Energy Consumed by the Industrial Sector,Waste Energy Consumed by the Industrial Sector,"Fuel Ethanol, Excluding Denaturant, Consumed by the Industrial Sector",Biomass Losses and Co-products in the Industrial Sector,Biomass Energy Consumed by the Industrial Sector,Total Renewable Energy Consumed by the Industrial Sector
0,NaT,(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu)
1,1973-01-01,1.04,Not Available,Not Available,Not Available,98.933,Not Available,Not Available,Not Available,98.933,99.973

In [5]:
df_renewable_in.isna().sum()

Month                                                                    1
Hydroelectric Power Consumed by the Industrial Sector                    0
Geothermal Energy Consumed by the Industrial Sector                      0
Solar Energy Consumed by the Industrial Sector                           0
Wind Energy Consumed by the Industrial Sector                            0
Wood Energy Consumed by the Industrial Sector                            0
Waste Energy Consumed by the Industrial Sector                           0
Fuel Ethanol, Excluding Denaturant, Consumed by the Industrial Sector    0
Biomass Losses and Co-products in the Industrial Sector                  0
Biomass Energy Consumed by the Industrial Sector                         0
Total Renewable Energy Consumed by the Industrial Sector                 0
dtype: int64

In [6]:
df_renewable_in = df_renewable_in.dropna()

In [7]:
df_renewable_in = df_renewable_in.replace("Not Available", 0)
df_renewable_in = df_renewable_in.replace("No Data Reported", 0)

In [8]:
df_renewable_in = df_renewable_in.drop(columns='Biomass Energy Consumed by the Industrial Sector')

In [9]:
df_renewable_in = df_renewable_in.drop(columns='Total Renewable Energy Consumed by the Industrial Sector')

In [10]:
split_name = df_renewable_in.columns.str.split()
split_name

Index([                                                                                        ['Month'],
                             ['Hydroelectric', 'Power', 'Consumed', 'by', 'the', 'Industrial', 'Sector'],
                               ['Geothermal', 'Energy', 'Consumed', 'by', 'the', 'Industrial', 'Sector'],
                                    ['Solar', 'Energy', 'Consumed', 'by', 'the', 'Industrial', 'Sector'],
                                     ['Wind', 'Energy', 'Consumed', 'by', 'the', 'Industrial', 'Sector'],
                                     ['Wood', 'Energy', 'Consumed', 'by', 'the', 'Industrial', 'Sector'],
                                    ['Waste', 'Energy', 'Consumed', 'by', 'the', 'Industrial', 'Sector'],
       ['Fuel', 'Ethanol,', 'Excluding', 'Denaturant,', 'Consumed', 'by', 'the', 'Industrial', 'Sector'],
                        ['Biomass', 'Losses', 'and', 'Co-products', 'in', 'the', 'Industrial', 'Sector']],
      dtype='object')

In [11]:
two_words = split_name.str[0:2]
two_words

Index([                 ['Month'], ['Hydroelectric', 'Power'],
         ['Geothermal', 'Energy'],        ['Solar', 'Energy'],
               ['Wind', 'Energy'],         ['Wood', 'Energy'],
              ['Waste', 'Energy'],       ['Fuel', 'Ethanol,'],
            ['Biomass', 'Losses']],
      dtype='object')

In [12]:
concat_words = two_words.str.join('_')
concat_words

Index(['Month', 'Hydroelectric_Power', 'Geothermal_Energy', 'Solar_Energy',
       'Wind_Energy', 'Wood_Energy', 'Waste_Energy', 'Fuel_Ethanol,',
       'Biomass_Losses'],
      dtype='object')

In [13]:
df_renewable_in.columns = concat_words

In [14]:
df_renewable_in.columns = df_renewable_in.columns.str.replace(',', '')

In [15]:
print(df_renewable_in.dtypes)

Month                  datetime64[ns]
Hydroelectric_Power           float64
Geothermal_Energy             float64
Solar_Energy                  float64
Wind_Energy                   float64
Wood_Energy                   float64
Waste_Energy                  float64
Fuel_Ethanol                  float64
Biomass_Losses                float64
dtype: object

In [16]:
df_renewable_in['Biofuels_Energy'] = df_renewable_in['Fuel_Ethanol'] + df_renewable_in['Biomass_Losses']

In [17]:
df_renewable_in['df_id_time'] = pd.to_datetime(df_renewable_in['Month']).dt.strftime('%Y%m').astype(int)

In [18]:
df_renewable_in = df_renewable_in.drop(columns='Month')
df_renewable_in = df_renewable_in.drop(columns='Fuel_Ethanol')
df_renewable_in = df_renewable_in.drop(columns='Biomass_Losses')

In [19]:
df_renewable_in.tail(5)

,Hydroelectric_Power,Geothermal_Energy,Solar_Energy,Wind_Energy,Wood_Energy,Waste_Energy,Biofuels_Energy,df_id_time
603,0.279,0.357,1.362,0.045,103.023,14.303,69.558,202303
604,0.231,0.345,1.506,0.039,95.096,13.586,66.078,202304
605,0.257,0.357,1.650,0.030,101.807,14.130,70.195,202305
606,0.186,0.345,1.651,0.025,94.889,12.326,70.469,202306
607,0.232,0.357,1.710,0.021,99.011,12.513,72.374,202307

In [20]:
df_renewable_rc.head(2)

,Month,Geothermal Energy Consumed by the Residential Sector,Solar Energy Consumed by the Residential Sector,Wood Energy Consumed by the Residential Sector,Total Renewable Energy Consumed by the Residential Sector,Hydroelectric Power Consumed by the Commercial Sector,Geothermal Energy Consumed by the Commercial Sector,Solar Energy Consumed by the Commercial Sector,Wind Energy Consumed by the Commercial Sector,Wood Energy Consumed by the Commercial Sector,Waste Energy Consumed by the Commercial Sector,"Fuel Ethanol, Excluding Denaturant, Consumed by the Commercial Sector",Biomass Energy Consumed by the Commercial Sector,Total Renewable Energy Consumed by the Commercial Sector
0,NaT,(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu)
1,1973-01-01,Not Available,Not Available,30.074,30.074,Not Available,Not Available,Not Available,Not Available,0.57,Not Available,Not Available,0.57,0.57

In [21]:
df_renewable_rc.isna().sum()

Month                                                                    1
Geothermal Energy Consumed by the Residential Sector                     0
Solar Energy Consumed by the Residential Sector                          0
Wood Energy Consumed by the Residential Sector                           0
Total Renewable Energy Consumed by the Residential Sector                0
Hydroelectric Power Consumed by the Commercial Sector                    0
Geothermal Energy Consumed by the Commercial Sector                      0
Solar Energy Consumed by the Commercial Sector                           0
Wind Energy Consumed by the Commercial Sector                            0
Wood Energy Consumed by the Commercial Sector                            0
Waste Energy Consumed by the Commercial Sector                           0
Fuel Ethanol, Excluding Denaturant, Consumed by the Commercial Sector    0
Biomass Energy Consumed by the Commercial Sector                         0
Total Renewable Energy Consumed by the Commercial Sector                 0
dtype: int64

In [22]:
df_renewable_rc = df_renewable_rc.dropna()

In [23]:
df_renewable_rc = df_renewable_rc.replace("Not Available", 0)
df_renewable_rc = df_renewable_rc.replace("No Data Reported", 0)
df_renewable_rc = df_renewable_rc.replace("Not Meaningful", 0)

In [24]:
df_renewable_rc = df_renewable_rc.drop(columns='Total Renewable Energy Consumed by the Residential Sector')
df_renewable_rc = df_renewable_rc.drop(columns='Biomass Energy Consumed by the Commercial Sector')
df_renewable_rc = df_renewable_rc.drop(columns='Total Renewable Energy Consumed by the Commercial Sector')

In [25]:
df_renewable_rc['df_id_time'] = pd.to_datetime(df_renewable_rc['Month']).dt.strftime('%Y%m').astype(int)

In [26]:
df_renewable_rc = df_renewable_rc.drop(columns='Month')

In [27]:
print(df_renewable_rc.dtypes)

Geothermal Energy Consumed by the Residential Sector                     float64
Solar Energy Consumed by the Residential Sector                          float64
Wood Energy Consumed by the Residential Sector                           float64
Hydroelectric Power Consumed by the Commercial Sector                    float64
Geothermal Energy Consumed by the Commercial Sector                      float64
Solar Energy Consumed by the Commercial Sector                           float64
Wind Energy Consumed by the Commercial Sector                            float64
Wood Energy Consumed by the Commercial Sector                            float64
Waste Energy Consumed by the Commercial Sector                           float64
Fuel Ethanol, Excluding Denaturant, Consumed by the Commercial Sector    float64
df_id_time                                                                 int32
dtype: object

In [28]:
df_renewable_rc.tail(5)

,Geothermal Energy Consumed by the Residential Sector,Solar Energy Consumed by the Residential Sector,Wood Energy Consumed by the Residential Sector,Hydroelectric Power Consumed by the Commercial Sector,Geothermal Energy Consumed by the Commercial Sector,Solar Energy Consumed by the Commercial Sector,Wind Energy Consumed by the Commercial Sector,Wood Energy Consumed by the Commercial Sector,Waste Energy Consumed by the Commercial Sector,"Fuel Ethanol, Excluding Denaturant, Consumed by the Commercial Sector",df_id_time
603,3.363,19.315,38.247,0.0,1.850,5.877,0.062,6.966,3.391,2.322,202303
604,3.255,21.650,37.013,0.0,1.788,6.558,0.056,6.681,3.381,2.173,202304
605,3.363,24.058,38.247,0.0,1.828,7.141,0.045,6.793,3.396,2.349,202305
606,3.255,23.669,37.013,0.0,1.746,7.106,0.033,6.794,4.722,2.349,202306
607,3.363,24.719,38.247,0.0,1.673,7.408,0.022,6.875,6.352,2.291,202307

In [29]:
df_renewable_res = df_renewable_rc[['Geothermal Energy Consumed by the Residential Sector', 
                                    'Solar Energy Consumed by the Residential Sector', 
                                    'Wood Energy Consumed by the Residential Sector',
                                    'df_id_time']].copy()

In [30]:
df_renewable_com = df_renewable_rc[['Hydroelectric Power Consumed by the Commercial Sector', 
                                    'Geothermal Energy Consumed by the Commercial Sector', 
                                    'Solar Energy Consumed by the Commercial Sector',
                                    'Wind Energy Consumed by the Commercial Sector',
                                    'Wood Energy Consumed by the Commercial Sector',
                                    'Waste Energy Consumed by the Commercial Sector',
                                    'Fuel Ethanol, Excluding Denaturant, Consumed by the Commercial Sector',
                                    'df_id_time']].copy()

In [31]:
split_name = df_renewable_res.columns.str.split()
two_words = split_name.str[0:2]
concat_words = two_words.str.join('_')
df_renewable_res.columns = concat_words

In [32]:
split_name = df_renewable_com.columns.str.split()
two_words = split_name.str[0:2]
concat_words = two_words.str.join('_')
df_renewable_com.columns = concat_words

In [33]:
df_renewable_res.columns = df_renewable_res.columns.str.replace(',', '')
df_renewable_com.columns = df_renewable_com.columns.str.replace(',', '')

In [34]:
df_renewable_com = df_renewable_com.rename(columns={'Fuel_Ethanol': 'Biofuels_Energy'})

In [35]:
df_renewable_res.tail(5)

     Geothermal_Energy  Solar_Energy  Wood_Energy  df_id_time
603              3.363        19.315       38.247      202303
604              3.255        21.650       37.013      202304
605              3.363        24.058       38.247      202305
606              3.255        23.669       37.013      202306
607              3.363        24.719       38.247      202307

In [36]:
df_renewable_com.tail(5)

,Hydroelectric_Power,Geothermal_Energy,Solar_Energy,Wind_Energy,Wood_Energy,Waste_Energy,Biofuels_Energy,df_id_time
603,0.0,1.850,5.877,0.062,6.966,3.391,2.322,202303
604,0.0,1.788,6.558,0.056,6.681,3.381,2.173,202304
605,0.0,1.828,7.141,0.045,6.793,3.396,2.349,202305
606,0.0,1.746,7.106,0.033,6.794,4.722,2.349,202306
607,0.0,1.673,7.408,0.022,6.875,6.352,2.291,202307

In [37]:
df_renewable_te.head(2)

,Month,"Fuel Ethanol, Excluding Denaturant, Consumed by the Transportation Sector",Biodiesel Consumed by the Transportation Sector,Renewable Diesel Fuel Consumed by the Transportation Sector,Other Biofuels Consumed by the Transportation Sector,Biomass Energy Consumed by the Transportation Sector,Conventional Hydroelectric Power Consumed by the Electric Power Sector,Geothermal Energy Consumed by the Electric Power Sector,Solar Energy Consumed by the Electric Power Sector,Wind Energy Consumed by the Electric Power Sector,Wood Energy Consumed by the Electric Power Sector,Waste Energy Consumed by the Electric Power Sector,Biomass Energy Consumed by the Electric Power Sector,Total Renewable Energy Consumed by the Electric Power Sector
0,NaT,(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu)
1,1973-01-01,Not Available,Not Available,Not Available,Not Available,Not Available,88.522,0.49,Not Available,Not Available,0.054,0.157,0.211,89.223

In [38]:
df_renewable_te.isna().sum()

Month                                                                        1
Fuel Ethanol, Excluding Denaturant, Consumed by the Transportation Sector    0
Biodiesel Consumed by the Transportation Sector                              0
Renewable Diesel Fuel Consumed by the Transportation Sector                  0
Other Biofuels Consumed by the Transportation Sector                         0
Biomass Energy Consumed by the Transportation Sector                         0
Conventional Hydroelectric Power Consumed by the Electric Power Sector       0
Geothermal Energy Consumed by the Electric Power Sector                      0
Solar Energy Consumed by the Electric Power Sector                           0
Wind Energy Consumed by the Electric Power Sector                            0
Wood Energy Consumed by the Electric Power Sector                            0
Waste Energy Consumed by the Electric Power Sector                           0
Biomass Energy Consumed by the Electric Power Sector                         0
Total Renewable Energy Consumed by the Electric Power Sector                 0
dtype: int64

In [39]:
df_renewable_te = df_renewable_te.dropna()

In [40]:
df_renewable_te = df_renewable_te.replace("Not Available", 0)
df_renewable_te = df_renewable_te.replace("No Data Reported", 0)
df_renewable_te = df_renewable_te.replace("Not Meaningful", 0)

In [41]:
df_renewable_te = df_renewable_te.drop(columns='Biomass Energy Consumed by the Electric Power Sector')
df_renewable_te = df_renewable_te.drop(columns='Total Renewable Energy Consumed by the Electric Power Sector')
df_renewable_te = df_renewable_te.drop(columns='Fuel Ethanol, Excluding Denaturant, Consumed by the Transportation Sector')
df_renewable_te = df_renewable_te.drop(columns='Biodiesel Consumed by the Transportation Sector')
df_renewable_te = df_renewable_te.drop(columns='Renewable Diesel Fuel Consumed by the Transportation Sector ')
df_renewable_te = df_renewable_te.drop(columns='Other Biofuels Consumed by the Transportation Sector ')

In [42]:
df_renewable_te['df_id_time'] = pd.to_datetime(df_renewable_te['Month']).dt.strftime('%Y%m').astype(int)
df_renewable_te = df_renewable_te.drop(columns='Month')

In [43]:
print(df_renewable_te.dtypes)

Biomass Energy Consumed by the Transportation Sector                      float64
Conventional Hydroelectric Power Consumed by the Electric Power Sector    float64
Geothermal Energy Consumed by the Electric Power Sector                   float64
Solar Energy Consumed by the Electric Power Sector                        float64
Wind Energy Consumed by the Electric Power Sector                         float64
Wood Energy Consumed by the Electric Power Sector                         float64
Waste Energy Consumed by the Electric Power Sector                        float64
df_id_time                                                                  int32
dtype: object

In [44]:
df_renewable_tran = df_renewable_te[['Biomass Energy Consumed by the Transportation Sector','df_id_time']].copy()

In [45]:
split_name = df_renewable_tran.columns.str.split()
two_words = split_name.str[0:2]
concat_words = two_words.str.join('_')
df_renewable_tran.columns = concat_words

In [46]:
df_renewable_tran = df_renewable_tran.rename(columns={'Biomass_Energy': 'Biofuels_Energy'})

In [47]:
df_renewable_te = df_renewable_te.drop(columns='Biomass Energy Consumed by the Transportation Sector')

In [48]:
df_renewable_ep = df_renewable_te.copy()

In [49]:
split_name = df_renewable_ep.columns.str.split()
two_words = split_name.str[0:2]
concat_words = two_words.str.join('_')
df_renewable_ep.columns = concat_words

In [50]:
df_renewable_ep.tail(5)

,Conventional_Hydroelectric,Geothermal_Energy,Solar_Energy,Wind_Energy,Wood_Energy,Waste_Energy,df_id_time
603,70.043,4.495,41.603,151.233,15.042,16.757,202303
604,60.843,4.518,50.780,146.102,10.370,15.183,202304
605,95.113,4.512,57.658,109.244,14.278,16.453,202305
606,66.727,4.203,60.299,93.658,14.531,14.575,202306
607,73.053,4.548,64.402,94.556,15.720,13.980,202307

In [51]:
df_renewable_tran.tail(5)

     Biofuels_Energy  df_id_time
603          148.610      202303
604          138.825      202304
605          161.791      202305
606          158.690      202306
607          148.564      202307

In [52]:
df_petroleum_in.head(3)

,Month,Asphalt and Road Oil Consumed by the Industrial Sector,Distillate Fuel Oil Consumed by the Industrial Sector,Propane Consumed by the Industrial Sector,Propylene Consumed by the Industrial Sector,Propane/Propylene Consumed by the Industrial Sector,Total Hydrocarbon Gas Liquids Consumed by the Industrial Sector,Kerosene Consumed by the Industrial Sector,Lubricants Consumed by the Industrial Sector,Motor Gasoline Consumed by the Industrial Sector,Petroleum Coke Consumed by the Industrial Sector,Residual Fuel Oil Consumed by the Industrial Sector,Other Petroleum Products Consumed by the Industrial Sector,Total Petroleum Consumed by the Industrial Sector
0,NaT,(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu)
1,1973-01-01,37.779,131.343,41.056,8.533,49.589,117.196,24.828,15.25,19.871,49.178,162.674,178.529,736.648
2,1973-02-01,40.254,142.552,31.311,6.964,38.276,92.291,21.275,15.072,18.884,40.467,174.629,156.734,702.158

In [53]:
df_petroleum_in = df_petroleum_in.dropna()

In [54]:
df_petroleum_in['df_id_time'] = pd.to_datetime(df_petroleum_in['Month']).dt.strftime('%Y%m').astype(int)
df_petroleum_in = df_petroleum_in.drop(columns='Month')

In [55]:
df_petroleum_in = df_petroleum_in.drop(columns='Propane/Propylene Consumed by the Industrial Sector')
df_petroleum_in = df_petroleum_in.drop(columns='Total Petroleum Consumed by the Industrial Sector')

In [56]:
df_petroleum_in.columns = df_petroleum_in.columns.str.replace(' Consumed by the Industrial Sector', '')
df_petroleum_in.columns = df_petroleum_in.columns.str.replace('Total_', '')
df_petroleum_in.columns = df_petroleum_in.columns.str.replace(' ', '_')

In [57]:
df_petroleum_rc.head(2)

,Month,Distillate Fuel Oil Consumed by the Residential Sector,Propane Consumed by the Residential Sector,Kerosene Consumed by the Residential Sector,Total Petroleum Consumed by the Residential Sector,Distillate Fuel Oil Consumed by the Commercial Sector,Propane Consumed by the Commercial Sector,Kerosene Consumed by the Commercial Sector,Motor Gasoline Consumed by the Commercial Sector,Petroleum Coke Consumed by the Commercial Sector,Residual Fuel Oil Consumed by the Commercial Sector,Total Petroleum Consumed by the Commercial Sector
0,NaT,(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu)
1,1973-01-01,308.231,92.079,36.213,436.524,99.02,18.521,10.316,6.759,Not Available,102.378,236.994

In [58]:
df_petroleum_rc.isna().sum()

Month                                                     1
Distillate Fuel Oil Consumed by the Residential Sector    0
Propane Consumed by the Residential Sector                0
Kerosene Consumed by the Residential Sector               0
Total Petroleum Consumed by the Residential Sector        0
Distillate Fuel Oil Consumed by the Commercial Sector     0
Propane Consumed by the Commercial Sector                 0
Kerosene Consumed by the Commercial Sector                0
Motor Gasoline Consumed by the Commercial Sector          0
Petroleum Coke Consumed by the Commercial Sector          0
Residual Fuel Oil Consumed by the Commercial Sector       0
Total Petroleum Consumed by the Commercial Sector         0
dtype: int64

In [59]:
df_petroleum_rc = df_petroleum_rc.dropna()

In [60]:
df_petroleum_rc = df_petroleum_rc.replace("Not Available", 0)
df_petroleum_rc = df_petroleum_rc.replace("No Data Reported", 0)
df_petroleum_rc = df_petroleum_rc.replace("Not Meaningful", 0)

In [61]:
df_petroleum_rc  = df_petroleum_rc.drop(columns='Total Petroleum Consumed by the Residential Sector')
df_petroleum_rc = df_petroleum_rc.drop(columns='Total Petroleum Consumed by the Commercial Sector')

In [62]:
df_petroleum_rc['df_id_time'] = pd.to_datetime(df_petroleum_rc['Month']).dt.strftime('%Y%m').astype(int)
df_petroleum_rc = df_petroleum_rc.drop(columns='Month')

In [63]:
df_petroleum_res = df_petroleum_rc[['Distillate Fuel Oil Consumed by the Residential Sector', 
                                    'Propane Consumed by the Residential Sector', 
                                    'Kerosene Consumed by the Residential Sector',
                                    'df_id_time']].copy()

In [64]:
df_petroleum_com = df_petroleum_rc[['Distillate Fuel Oil Consumed by the Commercial Sector', 
                                    'Propane Consumed by the Commercial Sector', 
                                    'Kerosene Consumed by the Commercial Sector',
                                    'Motor Gasoline Consumed by the Commercial Sector',
                                    'Petroleum Coke Consumed by the Commercial Sector',
                                    'Residual Fuel Oil Consumed by the Commercial Sector',
                                    'df_id_time']].copy()

In [65]:
df_petroleum_res.head(2)

,Distillate Fuel Oil Consumed by the Residential Sector,Propane Consumed by the Residential Sector,Kerosene Consumed by the Residential Sector,df_id_time
1,308.231,92.079,36.213,197301
2,263.315,80.925,31.031,197302

In [66]:
df_petroleum_com.head(2)

,Distillate Fuel Oil Consumed by the Commercial Sector,Propane Consumed by the Commercial Sector,Kerosene Consumed by the Commercial Sector,Motor Gasoline Consumed by the Commercial Sector,Petroleum Coke Consumed by the Commercial Sector,Residual Fuel Oil Consumed by the Commercial Sector,df_id_time
1,99.020,18.521,10.316,6.759,0.0,102.378,197301
2,84.591,16.418,8.840,6.423,0.0,87.459,197302

In [67]:
df_petroleum_res.columns = df_petroleum_res.columns.str.replace(' Consumed by the Residential Sector', '')
df_petroleum_res.columns = df_petroleum_res.columns.str.replace(' ', '_')

In [68]:
df_petroleum_com.columns = df_petroleum_com.columns.str.replace(' Consumed by the Commercial Sector', '')
df_petroleum_com.columns = df_petroleum_com.columns.str.replace(' ', '_')

In [69]:
df_petroleum_te.head(2)

,Month,Aviation Gasoline Consumed by the Transportation Sector,Distillate Fuel Oil Consumed by the Transportation Sector,Propane Consumed by the Transportation Sector,Jet Fuel Consumed by the Transportation Sector,Lubricants Consumed by the Transportation Sector,Motor Gasoline Consumed by the Transportation Sector,Residual Fuel Oil Consumed by the Transportation Sector,Other Products Consumed by the Transportation Sector,Total Petroleum Consumed by the Transportation Sector,Distillate Fuel Oil Consumed by the Electric Power Sector,Petroleum Coke Consumed by the Electric Power Sector,Residual Fuel Oil Consumed by the Electric Power Sector,Total Petroleum Consumed by the Electric Power Sector
0,NaT,(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu),(Trillion Btu)
1,1973-01-01,6.184,179.905,4.203,189.393,12.746,969.585,63.693,Not Available,1425.71,32.56,1.255,315.578,349.393

In [70]:
df_petroleum_te = df_petroleum_te.dropna()

In [71]:
df_petroleum_te = df_petroleum_te.replace("Not Available", 0)
df_petroleum_te = df_petroleum_te.replace("No Data Reported", 0)
df_petroleum_te = df_petroleum_te.replace("Not Meaningful", 0)

In [72]:
df_petroleum_te = df_petroleum_te.drop(columns='Total Petroleum Consumed by the Transportation Sector')
df_petroleum_te = df_petroleum_te.drop(columns='Total Petroleum Consumed by the Electric Power Sector')

In [73]:
df_petroleum_te['df_id_time'] = pd.to_datetime(df_petroleum_te['Month']).dt.strftime('%Y%m').astype(int)
df_petroleum_te = df_petroleum_te.drop(columns='Month')

In [74]:
df_petroleum_ep = df_petroleum_te[['Distillate Fuel Oil Consumed by the Electric Power Sector', 
                                    'Petroleum Coke Consumed by the Electric Power Sector', 
                                    'Residual Fuel Oil Consumed by the Electric Power Sector',
                                    'df_id_time']].copy()

In [75]:
df_petroleum_te = df_petroleum_te.drop(columns='Distillate Fuel Oil Consumed by the Electric Power Sector')
df_petroleum_te = df_petroleum_te.drop(columns='Petroleum Coke Consumed by the Electric Power Sector')
df_petroleum_te = df_petroleum_te.drop(columns='Residual Fuel Oil Consumed by the Electric Power Sector')

In [76]:
df_petroleum_tran = df_petroleum_te.copy()

In [77]:
df_petroleum_tran.columns = df_petroleum_tran.columns.str.replace(' Consumed by the Transportation Sector', '')
df_petroleum_tran.columns = df_petroleum_tran.columns.str.replace(' ', '_')

In [78]:
df_petroleum_ep.columns = df_petroleum_ep.columns.str.replace(' Consumed by the Electric Power Sector', '')
df_petroleum_ep.columns = df_petroleum_ep.columns.str.replace(' ', '_')

In [79]:
df_petroleum_tran.tail(3)

,Aviation_Gasoline,Distillate_Fuel_Oil,Propane,Jet_Fuel,Lubricants,Motor_Gasoline,Residual_Fuel_Oil,Other_Products,df_id_time
605,2.181,554.534,0.834,294.088,9.352,1369.062,37.374,52.550,202305
606,2.115,551.864,0.807,295.101,8.891,1350.213,43.158,48.919,202306
607,2.277,557.543,0.834,311.091,9.055,1355.308,43.934,43.321,202307

In [80]:
df_petroleum_ep.tail(3)

     Distillate_Fuel_Oil  Petroleum_Coke  Residual_Fuel_Oil  df_id_time
605                4.658           3.729              4.819      202305
606                4.237           4.099              4.799      202306
607                3.883           7.032              5.728      202307

In [81]:
df_coal.head(2)

,Month,Coal Consumed by the Residential Sector,"Coal Consumed by the Commercial Sector, CHP","Coal Consumed by the Commercial Sector, Other","Coal Consumed by the Commercial Sector, Total","Coal Consumed by the Industrial Sector, Coke Plants","Coal Consumed by the Other Industrial Sector, CHP","Coal Consumed by the Other Industrial Sector, Non-CHP","Coal Consumed by the Other Industrial Sector, Total","Coal Consumed by the Industrial Sector, Total",Coal Consumed by the Transportation Sector,Coal Consumed by the Electric Power Sector,"Coal Consumption, Total"
0,NaT,(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons),(Thousand Short Tons)
1,1973-01-01,520.96,Not Available,887.04,887.04,7865,Not Available,6749,6749,14614,0,34556.608,50578.608

In [82]:
df_coal = df_coal.dropna()

In [83]:
df_coal = df_coal.replace("Not Available", 0)
df_coal = df_coal.replace("No Data Reported", 0)
df_coal = df_coal.replace("Not Meaningful", 0)

In [84]:
df_coal = df_coal.drop(columns='Coal Consumed by the Commercial Sector, CHP')
df_coal = df_coal.drop(columns='Coal Consumed by the Commercial Sector, Other')
df_coal = df_coal.drop(columns='Coal Consumed by the Industrial Sector, Coke Plants')
df_coal = df_coal.drop(columns='Coal Consumed by the Other Industrial Sector, CHP')
df_coal = df_coal.drop(columns='Coal Consumed by the Other Industrial Sector, Non-CHP')
df_coal = df_coal.drop(columns='Coal Consumed by the Other Industrial Sector, Total')
df_coal = df_coal.drop(columns='Coal Consumption, Total')

In [85]:
df_coal['df_id_time'] = pd.to_datetime(df_coal['Month']).dt.strftime('%Y%m').astype(int)
df_coal =df_coal.drop(columns='Month')

In [86]:
df_coal.columns = df_coal.columns.str.replace(',', '_')
df_coal.columns = df_coal.columns.str.replace(' ', '_')

In [87]:
df_coal.head(2)

,Coal_Consumed_by_the_Residential_Sector,Coal_Consumed_by_the_Commercial_Sector__Total,Coal_Consumed_by_the_Industrial_Sector__Total,Coal_Consumed_by_the_Transportation_Sector,Coal_Consumed_by_the_Electric_Power_Sector,df_id_time
1,520.96,887.04,14614.0,0,34556.608,197301
2,446.22,759.78,13462.0,0,30896.808,197302

In [88]:
df_natural_gas.head(2)

,Month,Natural Gas Consumed by the Residential Sector,Natural Gas Consumed by the Commercial Sector,"Natural Gas Consumed by the Industrial Sector, Lease and Plant Fuel","Natural Gas Consumed by the Other Industrial Sector, CHP","Natural Gas Consumed by the Other Industrial Sector, Non-CHP","Natural Gas Consumed by the Other Industrial Sector, Total","Natural Gas Consumed by the Industrial Sector, Total","Natural Gas Consumed by the Transportation Sector, Pipelines and Distribution","Natural Gas Consumed by the Transportation Sector, Vehicle Fuel","Natural Gas Consumed by the Transportation Sector, Total",Natural Gas Consumed by the Electric Power Sector,"Natural Gas Consumption, Total"
0,NaT,(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet),(Billion Cubic Feet)
1,1973-01-01,843.9,392.315,0,Not Available,0,0,810.141,77.544,Not Available,77.544,224.1,2348

In [89]:
df_natural_gas = df_natural_gas.dropna()

In [90]:
df_natural_gas = df_natural_gas.replace("Not Available", 0)
df_natural_gas = df_natural_gas.replace("No Data Reported", 0)
df_natural_gas = df_natural_gas.replace("Not Meaningful", 0)

In [91]:
df_natural_gas = df_natural_gas.drop(columns='Natural Gas Consumed by the Industrial Sector, Lease and Plant Fuel')
df_natural_gas = df_natural_gas.drop(columns='Natural Gas Consumed by the Other Industrial Sector, CHP')
df_natural_gas = df_natural_gas.drop(columns='Natural Gas Consumed by the Other Industrial Sector, Non-CHP')
df_natural_gas = df_natural_gas.drop(columns='Natural Gas Consumed by the Other Industrial Sector, Total')
df_natural_gas = df_natural_gas.drop(columns='Natural Gas Consumed by the Transportation Sector, Pipelines and Distribution')
df_natural_gas = df_natural_gas.drop(columns='Natural Gas Consumed by the Transportation Sector, Vehicle Fuel')

In [92]:
df_natural_gas = df_natural_gas.drop(columns='Natural Gas Consumption, Total')

In [93]:
df_natural_gas['df_id_time'] = pd.to_datetime(df_natural_gas['Month']).dt.strftime('%Y%m').astype(int)
df_natural_gas =df_natural_gas.drop(columns='Month')

In [94]:
df_natural_gas.columns = df_natural_gas.columns.str.replace(',', '_')
df_natural_gas.columns = df_natural_gas.columns.str.replace(' ', '_')

In [95]:
df_co2.head(2)

,Month,"Coal, Including Coal Coke Net Imports, CO2 Emissions","Natural Gas, Excluding Supplemental Gaseous Fuels, CO2 Emissions",Aviation Gasoline CO2 Emissions,"Distillate Fuel Oil, Excluding Biodiesel, CO2 Emissions",Hydrocarbon Gas Liquids CO2 Emissions,Jet Fuel CO2 Emissions,Kerosene CO2 Emissions,Lubricants CO2 Emissions,"Motor Gasoline, Excluding Ethanol, CO2 Emissions",Petroleum Coke CO2 Emissions,Residual Fuel Oil CO2 Emissions,Other Petroleum Products CO2 Emissions,"Petroleum, Excluding Biofuels, CO2 Emissions",Total Energy CO2 Emissions
0,NaT,(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide),(Million Metric Tons of Carbon Dioxide)
1,1973-01-01,109.552,125.557,0.428,55.157,10.463,13.742,5.222,1.037,70.948,4.85,48.37,8.754,218.972,454.082

In [96]:
df_co2 = df_co2.dropna()

In [97]:
df_co2  = df_co2 .replace("Not Available", 0)
df_co2  = df_co2 .replace("No Data Reported", 0)
df_co2  = df_co2 .replace("Not Meaningful", 0)

In [98]:
df_co2['df_id_time'] = pd.to_datetime(df_co2['Month']).dt.strftime('%Y%m').astype(int)
df_co2 = df_co2.drop(columns='Month')

In [99]:
df_co2.columns = df_co2.columns.str.replace(',', '_')
df_co2.columns = df_co2.columns.str.replace(' ', '_')

In [100]:
from sqlalchemy import create_engine, Table, MetaData, Column, Integer, String, Float
from sqlalchemy.exc import NoSuchTableError

metadata = MetaData(bind=engine)

try:
    table_drop = Table('fact_energy', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('fact_emissions', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
        
try:
    table_drop = Table('dim_time', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")    
    
try:
    table_drop = Table('dim_source', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")    
    
try:
    table_drop = Table('dim_sector', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('dim_unit', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")

try:
    table_drop = Table('tb_renewable_in', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_renewable_res', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_renewable_com', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_renewable_tran', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")

try:
    table_drop = Table('tb_renewable_ep', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_petroleum_in', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_petroleum_res', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_petroleum_com', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_petroleum_tran', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")

try:
    table_drop = Table('tb_petroleum_ep', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")
    
try:
    table_drop = Table('tb_coal', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")

try:
    table_drop = Table('tb_natural_gas', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")

try:
    table_drop = Table('tb_co2', metadata, autoload=True)
    table_drop.drop(engine, checkfirst=True)
except NoSuchTableError:
    print("Table does not exist")

In [101]:
metadata = MetaData()

dim_time_metadata = Table('dim_time', metadata,
    Column('id_time', Integer, nullable=False),
    Column('year', Integer, nullable=False),
    Column('month_nbr', Integer, nullable=False),
    Column('month', String(10), nullable=False),
    Column('month_sh', String(3), nullable=False),
    Column('season', String(10), nullable=False)
)

metadata.create_all(engine)

In [102]:
engine.connect().execute('''
alter table dim_time add primary key(id_time);
''')

In [103]:
date_range = pd.date_range(start='1949-01-01', end='2023-12-31', freq='M')

In [104]:
dim_time_info = []

for i in date_range:
    
    year = i.year
    month_nbr = i.month
    month = i.strftime('%B')
    month_sh = i.strftime('%b')
    id_time = year * 100 + month_nbr
    
    if 3 <= month_nbr <= 5:
        season = 'Spring'
    elif 6 <= month_nbr <= 8:
        season = 'Summer'
    elif 9 <= month_nbr <= 11:
        season = 'Fall'
    else:
        season = 'Winter'

    dim_time_info.append((id_time, year, month_nbr, month, month_sh, season))

In [105]:
columns = ['id_time', 'year', 'month_nbr', 'month', 'month_sh', 'season']
dim_time_df = pd.DataFrame(dim_time_info, columns=columns)

In [106]:
dim_time_df.to_sql('dim_time', engine, index=None, if_exists='append')

-1

In [107]:
dim_time_df.head()

   id_time  year  month_nbr     month month_sh  season
0   194901  1949          1   January      Jan  Winter
1   194902  1949          2  February      Feb  Winter
2   194903  1949          3     March      Mar  Spring
3   194904  1949          4     April      Apr  Spring
4   194905  1949          5       May      May  Spring

In [108]:
metadata = MetaData()

dim_source_metadata = Table('dim_source', metadata,
    Column('id_source', Integer, primary_key=True, nullable=False),
    Column('category', String(20), nullable=False),
    Column('subcategory', String(25), nullable=False),
    Column('detail_category', String(25), nullable=False)
)

metadata.create_all(engine)

In [109]:
query_table = pd.read_sql_query(
'''
select * from dim_source
limit 5
'''                              
, engine)
print(query_table)

Empty DataFrame
Columns: [id_source, category, subcategory, detail_category]
Index: []

In [110]:
dim_source_info = [
    (None, 'Renewable Energy', 'Hydroelectric Power', 'Hydroelectric Power'),
    (None, 'Renewable Energy', 'Geothermal Energy', 'Geothermal Energy'),
    (None, 'Renewable Energy', 'Solar Energy', 'Solar Energy'),
    (None, 'Renewable Energy', 'Wind Energy', 'Wind Energy'),
    (None, 'Renewable Energy', 'Biomass Energy', 'Wood Energy '),
    (None, 'Renewable Energy', 'Biomass Energy', 'Waste Energy'),
    (None, 'Renewable Energy', 'Biomass Energy', 'Biofuels Energy'),
    (None, 'Petroleum', 'Jet Fuel', 'Jet Fuel'),
    (None, 'Petroleum', 'Aviation Gasoline', 'Aviation Gasoline'),    
    (None, 'Petroleum', 'Asphalt and Road Oil', 'Asphalt and Road Oil'),    
    (None, 'Petroleum', 'Distillate Fuel Oil', 'Distillate Fuel Oil'),    
    (None, 'Petroleum', 'Propane', 'Propane'),    
    (None, 'Petroleum', 'Propylene', 'Propylene'),    
    (None, 'Petroleum', 'Hydrocarbon Gas Liquids', 'Hydrocarbon Gas Liquids'),    
    (None, 'Petroleum', 'Kerosene', 'Kerosene'),    
    (None, 'Petroleum', 'Lubricants', 'Lubricants'),    
    (None, 'Petroleum', 'Motor Gasoline', 'Motor Gasoline'),    
    (None, 'Petroleum', 'Petroleum Coke', 'Petroleum Coke'),    
    (None, 'Petroleum', 'Residual Fuel Oil', 'Residual Fuel Oil'),    
    (None, 'Petroleum', 'Other Petroleum Products', 'Other Petroleum Products'),    
    (None, 'Coal', 'Coal', 'Coal'),    
    (None, 'Natural Gas', 'Natural Gas', 'Natural Gas')
]

columns = ['id_source', 'category', 'subcategory', 'detail_category']
dim_source_df = pd.DataFrame(dim_source_info, columns=columns)

dim_source_df.to_sql('dim_source', engine, index=None, if_exists='append')

-1

In [111]:
query_table = pd.read_sql_query(
'''
select * from dim_source
limit 5
'''                              
, engine)
print(query_table)

   id_source          category          subcategory      detail_category
0          1  Renewable Energy  Hydroelectric Power  Hydroelectric Power
1          2  Renewable Energy    Geothermal Energy    Geothermal Energy
2          3  Renewable Energy         Solar Energy         Solar Energy
3          4  Renewable Energy          Wind Energy          Wind Energy
4          5  Renewable Energy       Biomass Energy         Wood Energy

In [112]:
metadata = MetaData()

dim_sector_metadata = Table('dim_sector', metadata,
    Column('id_sector', Integer, primary_key=True, nullable=False),
    Column('sector', String(15), nullable=False)
)

metadata.create_all(engine)

In [113]:
dim_sector_info = [
    (None, 'Commercial'),
    (None, 'Residential'),
    (None, 'Industrial'),
    (None, 'Electric Power'),
    (None, 'Transportation')
]

columns = ['id_sector', 'sector']
dim_sector_df = pd.DataFrame(dim_sector_info, columns=columns)

dim_sector_df.to_sql('dim_sector', engine, index=None, if_exists='append')

-1

In [114]:
metadata = MetaData()

dim_sector_metadata = Table('dim_unit', metadata,
    Column('id_unit', Integer, primary_key=True, nullable=False),
    Column('source_unit', String(20), nullable=False),
    Column('tbtu_factor', Float, nullable=False),                       
    Column('qbtu_factor', Float, nullable=False),   
    Column('mj_factor', Float, nullable=False)  
                            
)

metadata.create_all(engine)

In [115]:
dim_unit_info = [
    (None, 'Trillium BTU', 1.0 , 0.001 , 1055070339.977),
    (None, 'Thousand Short Tons', 0.01882, 0.00001882, 19856151.1),
    (None, 'Billion Cubic Feet', 1.036, 0.001036, 1093000000),   
    (None, 'Million Metric Tons', 0, 0, 0)       
]

columns = ['id_unit', 'source_unit' ,'tbtu_factor' ,'qbtu_factor' ,'mj_factor']
dim_unit_df = pd.DataFrame(dim_unit_info, columns=columns)

dim_unit_df.to_sql('dim_unit', engine, index=None, if_exists='append')

-1

In [116]:
metadata = MetaData()

dim_sector_metadata = Table('fact_energy', metadata,
    Column('id_time', Integer, nullable=False),
    Column('id_source', Integer, nullable=False),
    Column('id_sector', Integer, nullable=False),                       
    Column('id_unit', Integer, nullable=False),   
    Column('consumption', Float, nullable=False)                              
)

metadata.create_all(engine)

In [117]:
engine.connect().execute('''

alter table fact_energy
add constraint FK_time
foreign key (id_time) references dim_time(id_time),
add constraint FK_source
foreign key (id_source) references dim_source(id_source),
add constraint FK_sector
foreign key (id_sector) references dim_sector(id_sector),
add constraint FK_unit
foreign key (id_unit) references dim_unit(id_unit)

''')

In [118]:
metadata = MetaData()

dim_sector_metadata = Table('fact_emissions', metadata,
    Column('id_time', Integer, nullable=False),
    Column('id_source', Integer, nullable=False),
    Column('id_unit', Integer, nullable=False),   
    Column('emissions', Float, nullable=False)                              
)

metadata.create_all(engine)

In [119]:
engine.connect().execute('''

alter table fact_emissions
add constraint FK_time_em
foreign key (id_time) references dim_time(id_time),
add constraint FK_source_em
foreign key (id_source) references dim_source(id_source),
add constraint FK_unit_em
foreign key (id_unit) references dim_unit(id_unit)

''')

In [120]:
df_renewable_in.to_sql('tb_renewable_in', engine )

-1

In [121]:
#https://docs.sqlalchemy.org/en/20/tutorial/data_insert.html

engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Hydroelectric_Power
    from
        tb_renewable_in f
    left join dim_source so on so.detail_category = 'Hydroelectric Power'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Geothermal_Energy
    from
        tb_renewable_in f
    left join dim_source so on so.detail_category = 'Geothermal Energy'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU' 
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Solar_Energy
    from
        tb_renewable_in f
    left join dim_source so on so.detail_category = 'Solar Energy'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Wind_Energy
    from
        tb_renewable_in f
    left join dim_source so on so.detail_category = 'Wind Energy'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'    
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Waste_Energy 
    from
        tb_renewable_in f
    left join dim_source so on so.detail_category = 'Waste Energy'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Wood_Energy
    from
        tb_renewable_in f
    left join dim_source so on so.detail_category = 'Wood Energy'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'      
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Biofuels_Energy
    from
        tb_renewable_in f
    left join dim_source so on so.detail_category = 'Biofuels Energy'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'         
                  
''')

In [122]:
df_renewable_in.Hydroelectric_Power.sum()

505.146

In [123]:
df_renewable_in.tail(3)

,Hydroelectric_Power,Geothermal_Energy,Solar_Energy,Wind_Energy,Wood_Energy,Waste_Energy,Biofuels_Energy,df_id_time
605,0.257,0.357,1.650,0.030,101.807,14.130,70.195,202305
606,0.186,0.345,1.651,0.025,94.889,12.326,70.469,202306
607,0.232,0.357,1.710,0.021,99.011,12.513,72.374,202307

In [124]:
df_renewable_res.to_sql('tb_renewable_res', engine)

-1

In [125]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 

    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Geothermal_Energy
    from
        tb_renewable_res f
    left join dim_source so on so.detail_category = 'Geothermal Energy'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Trillium BTU' 
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Solar_Energy
    from
        tb_renewable_res f
    left join dim_source so on so.detail_category = 'Solar Energy'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Wood_Energy
    from
        tb_renewable_res f
    left join dim_source so on so.detail_category = 'Wood Energy'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Trillium BTU'              
                  
''')

In [126]:
df_renewable_res.tail(3)

     Geothermal_Energy  Solar_Energy  Wood_Energy  df_id_time
605              3.363        24.058       38.247      202305
606              3.255        23.669       37.013      202306
607              3.363        24.719       38.247      202307

In [127]:
df_renewable_com.to_sql('tb_renewable_com', engine)

-1

In [128]:
df_renewable_com.tail(3)

,Hydroelectric_Power,Geothermal_Energy,Solar_Energy,Wind_Energy,Wood_Energy,Waste_Energy,Biofuels_Energy,df_id_time
605,0.0,1.828,7.141,0.045,6.793,3.396,2.349,202305
606,0.0,1.746,7.106,0.033,6.794,4.722,2.349,202306
607,0.0,1.673,7.408,0.022,6.875,6.352,2.291,202307

In [129]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Hydroelectric_Power
    from
        tb_renewable_com f
    left join dim_source so on so.detail_category = 'Hydroelectric Power'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Geothermal_Energy
    from
        tb_renewable_com f
    left join dim_source so on so.detail_category = 'Geothermal Energy'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU' 
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Solar_Energy
    from
        tb_renewable_com f
    left join dim_source so on so.detail_category = 'Solar Energy'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Wind_Energy
    from
        tb_renewable_com f
    left join dim_source so on so.detail_category = 'Wind Energy'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'    
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Waste_Energy 
    from
        tb_renewable_com f
    left join dim_source so on so.detail_category = 'Waste Energy'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Wood_Energy
    from
        tb_renewable_com f
    left join dim_source so on so.detail_category = 'Wood Energy'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'      
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Biofuels_Energy
    from
        tb_renewable_com f
    left join dim_source so on so.detail_category = 'Biofuels Energy'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'         
                  
''')

In [130]:
df_renewable_tran.tail(3)

     Biofuels_Energy  df_id_time
605          161.791      202305
606          158.690      202306
607          148.564      202307

In [131]:
df_renewable_tran.to_sql('tb_renewable_tran', engine)

-1

In [132]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Biofuels_Energy
    from
        tb_renewable_tran f
    left join dim_source so on so.detail_category = 'Biofuels Energy'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'                        

''')

In [133]:
df_renewable_ep.tail(3)

,Conventional_Hydroelectric,Geothermal_Energy,Solar_Energy,Wind_Energy,Wood_Energy,Waste_Energy,df_id_time
605,95.113,4.512,57.658,109.244,14.278,16.453,202305
606,66.727,4.203,60.299,93.658,14.531,14.575,202306
607,73.053,4.548,64.402,94.556,15.720,13.980,202307

In [134]:
df_renewable_ep.to_sql('tb_renewable_ep', engine)

-1

In [135]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Conventional_Hydroelectric
    from
        tb_renewable_ep f
    left join dim_source so on so.detail_category = 'Hydroelectric Power'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Geothermal_Energy
    from
        tb_renewable_ep f
    left join dim_source so on so.detail_category = 'Geothermal Energy'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU' 
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Solar_Energy
    from
        tb_renewable_ep f
    left join dim_source so on so.detail_category = 'Solar Energy'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Wind_Energy
    from
        tb_renewable_ep f
    left join dim_source so on so.detail_category = 'Wind Energy'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'    
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Waste_Energy 
    from
        tb_renewable_ep f
    left join dim_source so on so.detail_category = 'Waste Energy'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Wood_Energy
    from
        tb_renewable_ep f
    left join dim_source so on so.detail_category = 'Wood Energy'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'      

''')

In [136]:
df_petroleum_in.tail(3)

,Asphalt_and_Road_Oil,Distillate_Fuel_Oil,Propane,Propylene,Total_Hydrocarbon_Gas_Liquids,Kerosene,Lubricants,Motor_Gasoline,Petroleum_Coke,Residual_Fuel_Oil,Other_Petroleum_Products,df_id_time
605,83.52,92.282,22.183,32.828,288.648,0.303,8.916,23.175,39.19,1,196.421,202305
606,93.902,85.185,44.338,30.749,297.107,0.102,8.477,22.856,29.838,1.115,183.145,202306
607,94.852,60.427,41.792,31.658,309.813,0.264,8.633,22.942,19.423,1.083,198.756,202307

In [137]:
df_petroleum_in.to_sql('tb_petroleum_in', engine)

-1

In [138]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Asphalt_and_Road_Oil
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Asphalt and Road Oil'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Distillate_Fuel_Oil
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Distillate Fuel Oil'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Propane 
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Propane'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Propylene
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Propylene'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Total_Hydrocarbon_Gas_Liquids
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Hydrocarbon Gas Liquids'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Kerosene
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Kerosene'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Lubricants
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Lubricants'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Motor_Gasoline
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Motor Gasoline'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Petroleum_Coke
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Petroleum Coke'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Residual_Fuel_Oil
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Residual Fuel Oil'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Other_Petroleum_Products
    from
        tb_petroleum_in f
    left join dim_source so on so.detail_category = 'Other Petroleum Products'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'

''')

In [139]:
df_petroleum_res.tail(3)

     Distillate_Fuel_Oil  Propane  Kerosene  df_id_time
605               29.946   25.344     1.962      202305
606               25.481   17.277     0.663      202306
607               17.687   14.833     1.710      202307

In [140]:
df_petroleum_res.to_sql('tb_petroleum_res', engine)

-1

In [141]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Distillate_Fuel_Oil
    from
        tb_petroleum_res f
    left join dim_source so on so.detail_category = 'Distillate Fuel Oil'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Propane 
    from
        tb_petroleum_res f
    left join dim_source so on so.detail_category = 'Propane'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Kerosene
    from
        tb_petroleum_res f
    left join dim_source so on so.detail_category = 'Kerosene'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Trillium BTU'

''')

In [142]:
df_petroleum_com.tail(3)

,Distillate_Fuel_Oil,Propane,Kerosene,Motor_Gasoline,Petroleum_Coke,Residual_Fuel_Oil,df_id_time
605,20.748,13.567,0.300,32.849,0.0,0.217,202305
606,17.654,10.880,0.101,32.397,0.0,0.184,202306
607,12.255,10.305,0.261,32.519,0.0,0.128,202307

In [143]:
df_petroleum_com.to_sql('tb_petroleum_com', engine)

-1

In [144]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Distillate_Fuel_Oil
    from
        tb_petroleum_com f
    left join dim_source so on so.detail_category = 'Distillate Fuel Oil'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Propane 
    from
        tb_petroleum_com f
    left join dim_source so on so.detail_category = 'Propane'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Kerosene
    from
        tb_petroleum_com f
    left join dim_source so on so.detail_category = 'Kerosene'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all  
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Motor_Gasoline
    from
        tb_petroleum_com f
    left join dim_source so on so.detail_category = 'Motor Gasoline'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Petroleum_Coke
    from
        tb_petroleum_com f
    left join dim_source so on so.detail_category = 'Petroleum Coke'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Residual_Fuel_Oil
    from
        tb_petroleum_com f
    left join dim_source so on so.detail_category = 'Residual Fuel Oil'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Trillium BTU'

''')

In [145]:
df_petroleum_tran.tail(3)

,Aviation_Gasoline,Distillate_Fuel_Oil,Propane,Jet_Fuel,Lubricants,Motor_Gasoline,Residual_Fuel_Oil,Other_Products,df_id_time
605,2.181,554.534,0.834,294.088,9.352,1369.062,37.374,52.550,202305
606,2.115,551.864,0.807,295.101,8.891,1350.213,43.158,48.919,202306
607,2.277,557.543,0.834,311.091,9.055,1355.308,43.934,43.321,202307

In [146]:
df_petroleum_tran.to_sql('tb_petroleum_tran', engine)

-1

In [147]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Aviation_Gasoline
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Aviation Gasoline'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'   
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Distillate_Fuel_Oil
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Distillate Fuel Oil'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Propane 
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Propane'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Jet_Fuel
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Jet Fuel'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Lubricants
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Lubricants'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Motor_Gasoline
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Motor Gasoline'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Residual_Fuel_Oil
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Residual Fuel Oil'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Other_Products
    from
        tb_petroleum_tran f
    left join dim_source so on so.detail_category = 'Other Petroleum Products'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    
''')

In [148]:
df_petroleum_ep.tail(3)

     Distillate_Fuel_Oil  Petroleum_Coke  Residual_Fuel_Oil  df_id_time
605                4.658           3.729              4.819      202305
606                4.237           4.099              4.799      202306
607                3.883           7.032              5.728      202307

In [149]:
df_petroleum_ep.to_sql('tb_petroleum_ep', engine)

-1

In [150]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Distillate_Fuel_Oil
    from
        tb_petroleum_ep f
    left join dim_source so on so.detail_category = 'Distillate Fuel Oil'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Residual_Fuel_Oil
    from
        tb_petroleum_ep f
    left join dim_source so on so.detail_category = 'Residual Fuel Oil'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Petroleum_Coke
    from
        tb_petroleum_ep f
    left join dim_source so on so.detail_category = 'Petroleum Coke'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Trillium BTU'
    
''')

In [151]:
df_coal.tail(3)

,Coal_Consumed_by_the_Residential_Sector,Coal_Consumed_by_the_Commercial_Sector__Total,Coal_Consumed_by_the_Industrial_Sector__Total,Coal_Consumed_by_the_Transportation_Sector,Coal_Consumed_by_the_Electric_Power_Sector,df_id_time
605,0.0,46.643,3132.935,0,25399.975,202305
606,0.0,36.268,3111.601,0,33507.377,202306
607,0.0,36.993,3366.476,0,44231.864,202307

In [152]:
df_coal.to_sql('tb_coal', engine)

-1

In [153]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Coal_Consumed_by_the_Residential_Sector
    from
        tb_coal f
    left join dim_source so on so.detail_category = 'Coal'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Thousand Short Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Coal_Consumed_by_the_Commercial_Sector__Total
    from
        tb_coal f
    left join dim_source so on so.detail_category = 'Coal'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Thousand Short Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Coal_Consumed_by_the_Industrial_Sector__Total
    from
        tb_coal f
    left join dim_source so on so.detail_category = 'Coal'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Thousand Short Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Coal_Consumed_by_the_Transportation_Sector
    from
        tb_coal f
    left join dim_source so on so.detail_category = 'Coal'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Thousand Short Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Coal_Consumed_by_the_Electric_Power_Sector
    from
        tb_coal f
    left join dim_source so on so.detail_category = 'Coal'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Thousand Short Tons'
    
       
    
    
''')

In [154]:
df_natural_gas.tail(3)

,Natural_Gas_Consumed_by_the_Residential_Sector,Natural_Gas_Consumed_by_the_Commercial_Sector,Natural_Gas_Consumed_by_the_Industrial_Sector__Total,Natural_Gas_Consumed_by_the_Transportation_Sector__Total,Natural_Gas_Consumed_by_the_Electric_Power_Sector,df_id_time
605,197.359,182.834,848.064,91.419,994.879,202305
606,128.228,148.962,814.384,92.833,1171.685,202306
607,111.216,142.699,835.588,104.567,1470.655,202307

In [155]:
df_natural_gas.to_sql('tb_natural_gas', engine)

-1

In [156]:
engine.execute('''
insert into fact_energy( id_time ,id_source ,id_sector ,id_unit, consumption) 
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Natural_Gas_Consumed_by_the_Residential_Sector
    from
        tb_natural_gas f
    left join dim_source so on so.detail_category = 'Natural Gas'
    left join dim_sector se on se.sector = 'Residential'
    left join dim_unit u on u.source_unit = 'Billion Cubic Feet'
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Natural_Gas_Consumed_by_the_Commercial_Sector
    from
        tb_natural_gas f
    left join dim_source so on so.detail_category = 'Natural Gas'
    left join dim_sector se on se.sector = 'Commercial'
    left join dim_unit u on u.source_unit = 'Billion Cubic Feet'    
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Natural_Gas_Consumed_by_the_Industrial_Sector__Total
    from
        tb_natural_gas f
    left join dim_source so on so.detail_category = 'Natural Gas'
    left join dim_sector se on se.sector = 'Industrial'
    left join dim_unit u on u.source_unit = 'Billion Cubic Feet'        
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Natural_Gas_Consumed_by_the_Transportation_Sector__Total
    from
        tb_natural_gas f
    left join dim_source so on so.detail_category = 'Natural Gas'
    left join dim_sector se on se.sector = 'Transportation'
    left join dim_unit u on u.source_unit = 'Billion Cubic Feet'     
    union all
    select
        f.df_id_time,
        so.id_source,
        se.id_sector,
        u.id_unit,
        f.Natural_Gas_Consumed_by_the_Electric_Power_Sector
    from
        tb_natural_gas f
    left join dim_source so on so.detail_category = 'Natural Gas'
    left join dim_sector se on se.sector = 'Electric Power'
    left join dim_unit u on u.source_unit = 'Billion Cubic Feet'   
    
''')

In [157]:
df_co2.tail(3)

,Coal__Including_Coal_Coke_Net_Imports__CO2_Emissions,Natural_Gas__Excluding_Supplemental_Gaseous_Fuels__CO2_Emissions,Aviation_Gasoline_CO2_Emissions,Distillate_Fuel_Oil__Excluding_Biodiesel__CO2_Emissions,Hydrocarbon_Gas_Liquids_CO2_Emissions,Jet_Fuel_CO2_Emissions,Kerosene_CO2_Emissions,Lubricants_CO2_Emissions,Motor_Gasoline__Excluding_Ethanol__CO2_Emissions,Petroleum_Coke_CO2_Emissions,Residual_Fuel_Oil_CO2_Emissions,Other_Petroleum_Products_CO2_Emissions,Petroleum__Excluding_Biofuels__CO2_Emissions,Total_Energy_CO2_Emissions,df_id_time
605,52.595,124.755,0.151,51.256,6.761,21.243,0.188,0.677,93.49,4.266,3.258,9.863,191.152,369.434,202305
606,67.181,127.151,0.146,49.915,6.588,21.316,0.063,0.643,92.105,3.377,3.697,9.478,187.328,382.562,202306
607,86.977,143.872,0.157,47.656,6.57,22.471,0.164,0.655,92.657,2.645,3.818,10.154,186.947,418.728,202307

In [158]:
df_co2.to_sql('tb_co2', engine)

-1

In [159]:
engine.execute('''
insert into fact_emissions( id_time ,id_source,id_unit, emissions) 
    select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Coal__Including_Coal_Coke_Net_Imports__CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Coal'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
    select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Natural_Gas__Excluding_Supplemental_Gaseous_Fuels__CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Natural Gas'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'  
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Aviation_Gasoline_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Aviation Gasoline'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Distillate_Fuel_Oil__Excluding_Biodiesel__CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Distillate Fuel Oil'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Hydrocarbon_Gas_Liquids_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Hydrocarbon Gas Liquids'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'   
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Jet_Fuel_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Jet Fuel'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Kerosene_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Kerosene'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Lubricants_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Lubricants'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Motor_Gasoline__Excluding_Ethanol__CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Motor Gasoline'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Petroleum_Coke_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Petroleum Coke'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Residual_Fuel_Oil_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Residual Fuel Oil'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'
    union all
        select
        f.df_id_time,
        so.id_source,
        u.id_unit,
        f.Other_Petroleum_Products_CO2_Emissions
    from
        tb_co2 f
    left join dim_source so on so.detail_category = 'Other Petroleum Products'
    left join dim_unit u on u.source_unit = 'Million Metric Tons'   

''')

In [160]:
query_table = pd.read_sql_query(
'''
select
    t.year,
    so.category, 
    so.detail_category,
    s.sector,
    sum(consumption) as original,
    sum(consumption*u.tbtu_factor) as tbtu,  
    sum(consumption*u.qbtu_factor) as qbtu  
from 
    fact_energy f
inner join 
    dim_time t
    on f.id_time = t.id_time
inner join 
    dim_source so
    on f.id_source = so.id_source
inner join 
    dim_sector s
    on f.id_sector = s.id_sector
inner join 
    dim_unit u
    on f.id_unit=u.id_unit
group by 
    t.year,
    so.category,
    so.detail_category,
    s.sector
'''                              
, engine)
print(query_table)

      year          category detail_category          sector       original  \
0     1973              Coal            Coal      Commercial    7003.709869
1     1973              Coal            Coal  Electric Power  389211.607422
2     1973              Coal            Coal      Industrial  162139.000000
3     1973              Coal            Coal     Residential    4113.289993
4     1973              Coal            Coal  Transportation     116.000000
...    ...               ...             ...             ...            ...
3310  2023  Renewable Energy     Wind Energy      Industrial       0.239000
3311  2023  Renewable Energy    Wood Energy       Commercial      47.373001
3312  2023  Renewable Energy    Wood Energy   Electric Power     100.181999
3313  2023  Renewable Energy    Wood Energy       Industrial     699.754005
3314  2023  Renewable Energy    Wood Energy      Residential     261.559006

             tbtu      qbtu
0      131.809825  0.131810
1     7324.962768  7.324962
2     3051.456112  3.051456
3       77.412121  0.077412
4        2.183120  0.002183
...           ...       ...
3310     0.239000  0.000239
3311    47.373001  0.047373
3312   100.181999  0.100182
3313   699.754005  0.699754
3314   261.559006  0.261559

[3315 rows x 7 columns]

In [161]:
query_table = pd.read_sql_query(
'''
select

    so.category, 
    so.detail_category,
    sum(emissions) as emissions
from 
    fact_emissions f
inner join 
    dim_time t
    on f.id_time = t.id_time
inner join 
    dim_source so
    on f.id_source = so.id_source
inner join 
    dim_unit u
    on f.id_unit=u.id_unit
group by 

    so.category,
    so.detail_category

'''                              
, engine)
print(query_table)

       category           detail_category     emissions
0          Coal                      Coal  84215.363091
1   Natural Gas               Natural Gas  61406.483028
2     Petroleum         Aviation Gasoline    141.843000
3     Petroleum       Distillate Fuel Oil  27431.294012
4     Petroleum   Hydrocarbon Gas Liquids   4384.103999
5     Petroleum                  Jet Fuel  10560.869979
6     Petroleum                  Kerosene    540.207000
7     Petroleum                Lubricants    593.700000
8     Petroleum            Motor Gasoline  52966.931065
9     Petroleum  Other Petroleum Products   5924.446002
10    Petroleum            Petroleum Coke   3681.184003
11    Petroleum         Residual Fuel Oil   9852.243981